:root {
  /**
	*	SPACE
	*/
  --colibri-space-0: 0;
  --colibri-space-1: 0.25rem;
  --colibri-space-2: 0.5rem;
  --colibri-space-4: 1rem;
  --colibri-space-8: 2rem;
  --colibri-space-16: 4rem;
  --colibri-space-32: 8rem;
}
