:root {
  /**
	*	COLORS
	*/
  --colibri-color-venice-blue: #002554;
  --colibri-color-sushi: #7ec51e;
  --colibri-color-chelsea: #6bb816;
  --colibri-color-cinnabar: #e53935;
  --colibri-color-ecstasy: #f57f17;
  --colibri-color-limeade: #5faf0f;
  --colibri-color-white: #ffffff;
  --colibri-color-negative: #ffffff;

  --colibri-color-primary: var(--colibri-color-venice-blue);
  --colibri-color-secondary: var(--colibri-color-sushi);
  --colibri-color-secondary-700: var(--colibri-color-chelsea);
  --colibri-color-secondary--darken: var(--colibri-color-sushi);
}
